body {
  background-color: #3f4652;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.formBody {
  // background-color: #FFFFFF;
  width: 400px;
  height: 400px;
  margin: 7em auto;
  border-radius: 1.5em;
  background-color:rgba(255, 255, 255, 0.9);
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.formBody2 {
  // background-color: #FFFFFF;
  width: 400px;
  height: 500px;
  margin: 7em auto;
  border-radius: 1.5em;
  background-color:rgba(255, 255, 255, 0.9);
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}


.formTitle {
  padding-top: 10px;
  color: #6255aa;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 23px;
  text-align: center;
}

.formPlaceholder {
  width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 20px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}
.submitBtn {
  margin-left: -10px;
}

.formBtn {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #686969, #383838);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 35%;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.formBtn:hover {
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
}

.errorMessage {
    padding-top: 5px;
    color: #9c6161;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}

.routeBar {
  width: auto;
}


.App-logo {
  left: 43%;
  bottom: 50%;
  height: auto;
  z-index: 2;
  position: fixed;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    pointer-events: none;
    animation: App-logo-spin infinite 2s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NavBar {
  margin-top: 10px;
  border-radius: 5px;
}


  
.file-input {
  display: none;
} 

.file-upload-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  line-height: 15px;
  cursor: pointer;
  margin-right: 10px;
  color: white;
  text-transform: uppercase;
  outline: none;
  background-color: #4aa1f3;
  font-weight: bold;
  padding: 8px 10px;
  margin-bottom: 0px;
}

.container-drop {
  transform: translateY(-100%);
}

.container p {
  color: red;
  text-align: center;
}

@media (max-width: 650px ) {
  .backgroundPic {
      background-position: center center;
  }
  
  .formBody {
    width: 90%;
    height: 400px;
  }
  
  .loginForm {
    align-items: flex-end;
    justify-content: center;
    width: auto;
  }
}

.backgroundPic {
  content: "";
  opacity: 0.8;
  background-blend-mode: luminosity;
  // background: rgb(26, 31, 41);
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
  height: 100vh;
  background-size: cover;
  background-repeat: repeat;
  background-position: top center;
}


.drop-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 70vw;
  height: 28vh;
  border: 8px dashed #333333;
  border-radius: 50px;
}

.container{
  padding-left: 0px;
  padding-right: 0px;
}

.loginUsername {
  display: flex;
}

.iconUser {
  color: grey;
  margin-top: 5px;
  margin-left: 10px;
}

.iconLogout{
  font-size: 1.5rem;
  margin-right: 10px;
}

.iconLogout:hover{
  color: grey;
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}

.LogoutControl:hover {
  color: grey;
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}

.inlineForm {
  display: flex;
}

.loginPassword {
  display: flex;
}

.iconLock {
  color: grey;
  margin-top: 5px;
  margin-left: 10px;
}

.uploadIcon:hover{
  color: grey;
  transform: scale(1.4);
  transition: all 0.5s ease-in-out;
}

.closeIcon{
  margin-top: 15px;
  margin-left: 10px;
}
.closeIcon:hover{
  color: rgb(197, 74, 74);
}

.drop-message {
  text-align: center;
  color: #333333;
  font-family: Arial;
  font-size: 20px;
}

.file-display-container {
  margin-top: 10px;
  position: fixed;
  width: 800px;
}

.file-status-bar{
  width: 100%;
  vertical-align:top;
  margin-top: 10px;
  margin-bottom: 20px;
  position: relative;
  line-height: 50px;
  height: 50px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.file-status-bar > div {
  overflow: hidden;
}

.file-type {
  display: inline-block!important;
  position: absolute;
  font-size: 12px;
  font-weight: 700;
  line-height: 13px;
  margin-top: 25px;
  padding: 0 4px;
  border-radius: 2px;
  box-shadow: 1px 1px 2px #abc;
  color: #fff;
  background: #0080c8;
  text-transform: uppercase;
}

.file-name {
  display: inline-block;
  vertical-align:top;
  margin-left: 50px;
  color: #4aa1f3;
}

.file-error {
  display: inline-block;
  vertical-align: top;
  margin-left: 50px;
  color: #9aa9bb;
}

.file-error-message {
  color: red;
}

.file-type-logo {
  width: 50px;
  height: 50px;
  background: url(./images/generic.png) no-repeat center center; 
  background-size: 100%;
  position: absolute;
}

.file-size {
  display:inline-block;
  vertical-align:top;
  color:#30693D;
  margin-left:10px;
  margin-right:5px;
  margin-left: 10px;
  color: #444242;
  font-weight: 700;
  font-size: 14px;
}

.file-remove  {
  /* position: absolute; */
  top: 20px;
  right: 10px;
  line-height: 20px;
  cursor: pointer;
  color: red;
  display: flex;
  align-self: center;
  margin-left: 10px;
}

.resultTextarea {
  width: 65vw;
  height: 25vh;
  overflow-y: scroll;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.upload-modal {
  z-index: 999;
  display: none;
  overflow: hidden;
}

.upload-modal .overlay{
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,.66);
  position: absolute;
  top: 0;
  left: 0;
}

.error {
  color: red;
}

.title {
  font-size: 2rem;
  text-align: center !important;
  margin-top: 10%;
  color: #4aa1f3;
  font-weight: bold;
}

.file-display-container {
  width: 75vw;
}

.content-drop {
  background-color: white;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

.resultBtn {
  margin-top: 10px;
}

.uploadedFile-bar{
  /* min-width: 100%; */
  margin-right: 5vw;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.audio-name {
  display: inline-block;
  vertical-align:top;
  margin-left: 10px;
  color: #4aa1f3;
}

.upload-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.selector-bar{
  margin-right: 10px;
}

.register{
  display: flex;
}

.backToLogin{
  margin: 5px;
}

.toRegister{
  margin: 10px;
}

.registerBox-enter{
  opacity: 0;
  transform: scale(0.9);
}

.registerBox-enter-active{
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.registerBox-exit{
  opacity: 1;
}

.registerBox-exit-active{
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}